<div class="callout">
  <div class="callout--col">
    <div class="callout--content">
      <div class="callout--label {{callout.available ? '' : 'callout--label-muted'}}">
        <div class="callout--label-overline">{{ callout.overline }}</div>
        <div>{{callout.label}}</div>
      </div>
      <div class="callout--art">
        <div class="callout--art-image {{callout.dots ? 'callout--art-image-ui js-callout-img' : ''}}">
          <img class="{{callout.dots ? 'js-callout-img-bg' : 'js-callout-img'}}" src="{{callout.art}}" alt="{{callout.artCaption}}" />

          {% if callout.dots %}
            <div class="callout--dots js-callout-dots js-reveal">
              {% for i in 1..20 %}
                <span class="js-dot js-reveal-stagger-scale"></span>
              {% endfor %}
            </div>
          {% endif %}

          {% if callout.art2 %}
            <img class="callout-img-ui" src="{{callout.art2}}" alt="{{callout.art2Caption}}" />
          {% endif %}
        </div>
        {% include '@templates/svgs/callout-dome.svg' %}
      </div>
    </div>
  </div>
  <div class="callout--col">
    <div class="callout--content collout--content--text js-reveal">
      <h3 class="callout--title js-reveal-stagger-item">{{callout.title}}</h3>
      <div class="callout--deck js-reveal-stagger-item">
        <p>{{callout.deck}}</p>
      </div>

        {% for button in callout.buttons %}
          <div class="callout--button js-reveal-stagger-item">
            {% include '@templates/partials/link-button.twig' with {'label': button.label, 'link':
        button.link, 'icon': button.icon, 'newTab': button.newTab} %}
          </div>
        {% endfor %}
    </div>
  </div>
</div>